<%- include('partials/header.ejs') %>

<header>
  <nav class="navbar navbar-expand-custom navbar-mainbg">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"
            ><i class="far fa-calendar-alt"></i>Today</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/work"><i class="far fa-clone"></i>Work</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>
  <div class="box">
    <% newListItems.forEach((newListItem)=> { %>
    <div class="item">
      <input type="checkbox" />
      <p><%= newListItem %></p>
    </div>
    <% }) %>

    <form class="item" action="/" method="post">
      <input
        type="text"
        name="newItem"
        placeholder="New Item"
        autocomplete="off"
      />
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
  </div>
</main>

<!-- <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center"></div> -->

<%- include('partials/footer.ejs') %>
